<%= render 'menus/dates', selected_date: @selected_date, menu_dates: @menu_dates %>

<div class="col-md-10 col-md-offset-1 items-list minheight600">
  <h2>There's no menu available for this date and region.</h2>
</div>
