@media (max-width: $screen-sm-max) {
  .drawer--right .drawer-nav {
    width: 80%;
    right: -80%;
  }
}

@media (min-width: $screen-md-min) {
  .drawer--right .drawer-nav {
    width: 40%;
    right: -40%;
  }
}

@media (min-width: $screen-lg-min) {
  .drawer--right .drawer-nav {
    width: 30%;
    right: -30%;
  }
}

.drawer-nav {
  .btn-red {
    background-color: #ff0000;
  }
}

.cart .badge {
  background-color: red;
}
