@media (max-width: $screen-sm-max) {
  .drawer--right .drawer-nav {
    width: 80%;
    right: -80%;
  }
}

@media (min-width: $screen-md-min) {
  .drawer--right .drawer-nav {
    width: 40%;
    right: -40%;
  }
}

@media (min-width: $screen-lg-min) {
  .drawer--right .drawer-nav {
    width: 25%;
    right: -25%;
  }
}

.cart {
  .cart-header {
    $cart-header-height: 51px;
    height: $cart-header-height;

    .cart-header-title {
      font-size: 1.2em;
      color: #666;
      line-height: $cart-header-height;
    }

    .close {
      position: absolute;
      right: 1em;
      top: 0;
      line-height: $cart-header-height;
    }
  }

  .checkout-button {
    background-color: #ff0000;
    bottom: 0;
    position: absolute;
    width: 100%;
  }
}

.cart-icon .badge {
  background-color: red;
}
