.alert.side-alert {
  position: absolute;
  top: 55px;
  width: 100%;
  border-radius: 0;
  font: 14px/1.3em 'Raleway', sans-serif;
  z-index: 999;

  .close {
    font-size: 30px;
    line-height: 0;
    width: 25px;
    height: 25px;
    position: absolute;
    top: 4px;
    right: 7px;

    &:focus {
      outline: none
    }
  }

  @media (min-width: $screen-sm-min) {
    padding: 10px;
  }
}

.alert-info {
  background-color: #444 !important;
  border-color: #444 !important;
  color: #fff !important;
}