.alert.side-alert {
  position: absolute;
  top: 55px;
  width: 100%;
  border-radius: 0;
  font: 16px/1.3em 'Raleway', sans-serif;

  .close {
    font-size: 50px;
    line-height: 0;
    width: 25px;
    height: 25px;
    position: absolute;
    top: 4px;
    right: 7px;

    &:focus {
      outline: none
    }
  }

  @media (min-width: $screen-sm-min) {
    right: 15px;
    width: 350px;
    padding: 20px;
    top: 70px;
  }
}
