<div class="profile-header text-center"
     style="background-image: url(https://res.cloudinary.com/taskrabbit-com/image/upload/b_black,c_fill,h_420,o_70,w_970/v1428972969/jnduwxalbmmgix9lgbbw.jpg);">
  <div class="container">
    <div class="container-inner">
      <img class="img-circle media-object" src="https://a1.lscdn.net/imgs/5f6f13ed-d99a-4cfc-8aea-ea973447c92f/200_q100.png">
      <h1 class="profile-header-user"><%= @city %></h1>
      <p class="profile-header-bio">
        American designer and manufacturer of clothing and accessories, primarily watches and jewelry.
      </p>
    </div>
  </div>

  <nav class="profile-header-nav">
    <ul class="nav nav-tabs">
      <li class="active">
        <a href="#">Stores</a>
      </li>
      <li>
        <a href="#">Clothes</a>
      </li>
      <li>
        <a href="#">New</a>
      </li>
    </ul>
  </nav>
</div>

<div class="stores container m-y-md" data-grid="images">
  <% if @stores.empty? %>
    <h2>No stores found in this location</h2>
  <% end %>
  <% @stores.each do |store| %>
    <div class="store item">
      <%= link_to store_path(store) do %>
        <%= image_tag store.thumbnail.url %>
        <h3><%= store.name %></h3>
        <% if store.available_for_delivery? %>
          <i class="available-for-delivery fa fa-truck"></i>
        <% end %>
      <% end %>
    </div>
  <% end %>
</div>
