<div class="profile-header text-center">
  <div class="container">
    <div class="container-inner">
      <h1 class="profile-header-user" style="">
        <% if @city == 'Atlanta' %>
          We're not delivering right now.
        <% else %>
          We don't deliver on <%= @city %> yet. Take a look at our shop in <%= link_to 'Atlanta', '/atlanta' %>!
        <% end %>
      </h1>
    </div>
  </div>
</div>
