<br />
<div class="col-md-10 col-md-offset-1 col-lg-8 col-lg-offset-2">
  <div class="panel panel-default">
    <div class="panel-body">
      <h2 class="text-center">Hold your horses!</h2>
      <h3 class="text-center">
        <% if @city == 'Atlanta' %>
          We're not delivering right now.
        <% else %>
          We don't deliver to <%= @city %> yet. Take a look at <%= link_to 'Atlanta', '/atlanta' %> store!
        <% end %>
      </h3>
      <hr />

      <div class="col-lg-4">
        <a href="/atlanta">
        <%= image_tag('Georgia-Tech', class: "img-responsive") %>
        </a>
        Georgia Tech
      </div>
      <br />
    </div>
  </div>
</div>