<body style="background-color: #fff;">
  <div class="jumbotron" style="background:#fff;">
  <br />
  <div class="col-xs-10 col-xs-offset-1 col-sm-4 col-sm-offset-4">
    <div class="col-xs-12">
      <%= image_tag('Doughnut-96', class: 'center-block') %>
    </div>
  </div>
  <br />
  <br /><br /><br />
  <h1 class="text-center">Hold your horses!</h1>
  <h3 class="text-center">
    <% if @city == 'Atlanta' %>
      We're not delivering right now.
    <% else %>
      We don't deliver to <%= @city %> yet. Take a look at <%= link_to 'Atlanta', '/atlanta' %> store!
    <% end %>
  </h3>
  <br /><br />

  <br /><br /><br /><br /><br /><br /><br /><br />
  <br /><br /><br /><br /><br /><br /><br /><br />
  <br /><br />
  </div>
</body>