<p id="notice"><%= notice %></p>

<h1>Orders</h1>

<table class="table">
  <thead>
    <tr>
      <th>Checked out at</th>
      <th>Amount</th>
      <th>Status</th>
    </tr>
  </thead>

  <tbody>
    <% @orders.each do |order| %>
      <tr>
        <td><%= order.created_at.strftime('%c') %></td>
        <td><%= humanized_money_with_symbol order.amount %></td>
        <td><%= status_for(order) %></td>
      </tr>
    <% end %>
  </tbody>
</table>
