<br />
<div class="col-lg-8 col-lg-offset-2">
  <div class="row">
    <div class="col-sm-4">
      <div class="panel panel-default">
        <div class="panel-heading">
          <br />
          <img class="img-circle center-block profile-img" src="https://scontent-atl3-1.cdninstagram.com/hphotos-xpa1/t51.2885-19/10890521_612806118825963_607750878_a.jpg" />
        </div>
        <div class="panel-body">
          <h3 class="profile-text text-center">Tyler Ruby</h3>
          <h4 class="profile-text text-center">tylerruby@comcast.net</h4>
          <h4 class="profile-text text-center">678-488-2616</h4>
          <p class="text-center">
            <a>Edit Profile</a>
          </p>
        </div>
      </div>
    </div>

    <div class="col-sm-8">
      <%= render 'pages/account/credit_cards' %>
    </div>
  </div>

  <div class="row">
    <div class="col-sm-4">
      <div class="panel panel-default">
        <div class="panel-heading">
          <h4>Previous Orders</h4>
        </div>
        <div class="panel-body">
          <div class="row">
            <div class="col-xs-6 thumb">
              <a class="thumbnail" data-toggle="modal" data-target="#myModal">
                <img class="img-responsive" src="http://s3.amazonaws.com/refresh-staging2/clothes/images/000/000/082/medium/Blonde-Tortoise-Lupetto-Sunglasses-TWEEDS-Atlanta-GA.png?1445063590" alt="">
              </a>
            </div>
            <div class="col-xs-6 thumb">
              <a class="thumbnail" data-toggle="modal" data-target="#myModal">
                <img class="img-responsive" src="http://s3.amazonaws.com/refresh-staging2/clothes/images/000/000/032/medium/CA-Classic-Sweater-Stadium-Atlanta-GA.png?1445034425" alt="">
              </a>
            </div>
          </div>
          <div class="row">
            <div class="col-xs-6 thumb">
              <a class="thumbnail" data-toggle="modal" data-target="#myModal">
                <img class="img-responsive" src="http://s3.amazonaws.com/refresh-staging2/clothes/images/000/000/049/medium/Bowery-Coat-Billy-Reid-Atlanta-GA.png?1445037824" alt="">
              </a>
            </div>
            <div class="col-xs-6 thumb">
              <a class="thumbnail" data-toggle="modal" data-target="#myModal">
                <img class="img-responsive" src="http://s3.amazonaws.com/refresh-staging2/clothes/images/000/000/431/medium/Strand-Cap-Toe-Oxfords-Allen-Edmonds-Atlanta-GA.png?1445391438" alt="">
              </a>
            </div>
            <div class="col-lg-12">
              <div class="pull-right">
              View All
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-sm-8">
      <div class="panel panel-default">
        <div class="panel-heading">
          <h4>Addresses</h4>
        </div>
        <div id="address-info" class="panel-body hidden">

          <form>
            <div class="col-lg-11">
              <div class="col-xs-6 col-sm-6">
                <div class="form-group">
                  <input type="first-name" class="form-control" placeholder="First Name">
                </div>
              </div>
              <div class="col-xs-6 col-sm-6">
                <div class="form-group">
                  <input type="last-name" class="form-control" placeholder="Last Name">
                </div>
              </div>
              <div class="col-sm-9">
                <div class="form-group">
                  <input type="street-address" class="form-control" placeholder="Street Address">
                </div>
              </div>
              <div class="col-xs-5 col-sm-3">
                <div class="form-group">
                  <input type="apt" class="form-control" placeholder="Apt/Suite">
                </div>
              </div>
              <div class="col-xs-7 col-sm-6">
                <div class="form-group">
                  <input type="city" class="form-control" placeholder="City">
                </div>
              </div>
              <div class="col-xs-6 col-sm-3">
                <div class="form-group">
                  <input type="state" class="form-control" placeholder="State">
                </div>
              </div>
              <div class="col-xs-6 col-sm-3">
                <div class="form-group">
                  <input type="zip" class="form-control" placeholder="Zip">
                </div>
              </div>
              <div class="col-sm-12">
                <div class="form-group">
                  <input type="notes" class="form-control" id="card" placeholder="Notes (Gate Code / Instructions)">
                </div>
              </div>
              <div class="col-sm-12">
                <button type="submit" class="btn btn-default pull-right">Submit</button>
              </div>
            </div>
          </form>
          <div class="clearfix"></div>
          <hr style="margin-bottom:0px" />
        </div>
        <div class="panel-body">
          <a id="add-address" class="btn btn-default black">Add New Address</a>
        </div>
      </div>
    </div>
  </div>
</div>
