<div class="profile-header text-center"
     style="background-image: url(https://res.cloudinary.com/taskrabbit-com/image/upload/b_black,c_fill,h_420,o_70,w_1540/v1428972968/bzqh6vswrzxemcljylwh.jpg);">
  <div class="container">
    <div class="container-inner">
      
      <h2 class="profile-header-user">Atlanta, GA</h2>
      <p class="profile-header-bio">
        Discover the best clothes around you from your favorite local stores. Get it delivered fast.
      </p>
    </div>
  </div>

  <nav class="profile-header-nav">
    <ul class="nav nav-tabs">
      <li class="active">
        <a href="#">Stores</a>
      </li>
      <li>
        <a href="#">Clothing</a>
      </li>
      <li>
        <a href="#">New</a>
      </li>
    </ul>
  </nav>
</div>

<div class="container m-y-md" data-grid="images">
  <div>
    <a href="/store">
      <img data-width="640" data-height="400" src="http://www.bloomberg.com/ss/09/06/0619_best_independent_stores/image/012_junkmans_daughter.jpg">
    </a>
  </div>

  <div>
    <img data-width="640" data-height="640" data-action="zoom" src="https://irs3.4sqi.net/img/general/600x600/rY-wi9_-6Betyw4HWbq8-VfX4S5KOT1x73qCRmFQbcM.jpg">
  </div>

  <div>
    <img data-width="640" data-height="640" data-action="zoom" src="http://i.imgur.com/Ra3w1ve.jpg">
  </div>

  <div>
    <img data-width="640" data-height="640" data-action="zoom" src="http://i.imgur.com/Sis8nUB.jpg">
  </div>

  <div>
    <img data-width="640" data-height="640" data-action="zoom" src="http://media2.fdncms.com/atlanta/imager/urban-outfitters/u/slideshow/11671935/urban_outfitters_poncey_teaser.jpg">
  </div>

  <div>
    <img data-width="640" data-height="640" data-action="zoom" src="http://2c2f06a14a9ade4267e6-fb8aac3b3bf42afe824f73b606f0aa4c.r92.cf1.rackcdn.com/tenantlogos/7.png">
  </div>

  <div>
    <img data-width="640" data-height="400" data-action="zoom" src="http://www.stushigalstyle.com/wp-content/uploads/2014/02/IMG_6104.jpg">
  </div>

  <div>
    <img data-width="640" data-height="640" data-action="zoom" src="https://encrypted-tbn1.gstatic.com/images?q=tbn:ANd9GcTu_5PyIqPDQPKNnbC2WOnT5CJLjsPnETfK5oFsxhQL-fzZ_OEz8w">
  </div>

  <div>
    <img data-width="640" data-height="400" data-action="zoom" src="http://wgcl.images.worldnow.com/images/20067338_BG2.jpg">
  </div>

  <div>
    <img data-width="640" data-height="640" data-action="zoom" src="http://i.imgur.com/pxEMEaP.jpg">
  </div>

  <div>
    <img data-width="640" data-height="640" data-action="zoom" src="http://i.imgur.com/fdGTWmc.jpg">
  </div>

  <div>
    <img data-width="640" data-height="640" data-action="zoom" src="http://bootstrap-themes.github.io/application/assets/img/instagram_16.jpg">
  </div>

  <div>
    <img data-width="640" data-height="640" data-action="zoom" src="http://bootstrap-themes.github.io/application/assets/img/instagram_17.jpg">
  </div>

  <div>
    <img data-width="640" data-height="640" data-action="zoom" src="http://bootstrap-themes.github.io/application/assets/img/instagram_18.jpg">
  </div>

  <div>
    <img data-width="640" data-height="400" data-action="zoom" src="http://bootstrap-themes.github.io/application/assets/img/instagram_1.jpg">
  </div>

  <div>
    <img data-width="640" data-height="640" data-action="zoom" src="http://bootstrap-themes.github.io/application/assets/img/instagram_2.jpg">
  </div>
</div>