<div class="jumbotron driver-header">

  <br /><br /> <br /><br /><br /><br />
  <h1 class="text-center hidden-xs hidden-sm">Drive for Us!</h1>
  <h2 class="text-center hidden-md hidden-lg">Drive for Us!</h2>
  <h3 class="text-center hidden-xs hidden-sm">Help us change delivery.</h3>
  <h4 class="text-center hidden-md hidden-lg">Help us change delivery.</h4>


  <br />
  <div class="col-xs-6 col-xs-offset-3 col-sm-4 col-sm-offset-4 col-lg-2 col-lg-offset-5">
    <a href="mailto:support@getderby.co" class="btn red btn-block btn-lg">Sign Up!</a>
  </div>
  <br /><br /><br /><br />
  <div class="clearfix"></div>
  <br /><br />
</div>
<div class="jumbotron driver-footer">
  <br />
  <h2 class="text-center">Be part of the food delivery revolution.</h2>
  <br /><br />
  <div class="col-xs-6 col-xs-offset-3 col-sm-4 col-sm-offset-4 col-lg-2 col-lg-offset-5">
    <a href="mailto:support@getderby.co" class="btn btn-default black btn-block btn-lg">Get Started!</a>
  </div>
  <br /><br /><br /><br />
</div>

