<div class="jumbotron partner-header">

  <br /><br /> <br /><br /><br /><br />
  <h1 class="text-center">Drive for Us!</h1>
  <h3 class="text-center">Deliver products to customers in an hour.</h3>
  <br />
  <div class="col-lg-2 col-lg-offset-5">
    <a href="/city" class="btn btn-default btn-block btn-lg">Explore</a>
  </div>
  <br /><br /><br /><br />
  <div class="clearfix"></div>
  <br /><br />
</div>
<div class="jumbotron">
  <br />
  <h2 class="text-center">Be part of the food delivery revolution.</h2>
  <br /><br />
  <div class="col-lg-2 col-lg-offset-5">
    <a href="/city" class="btn btn-default black btn-block btn-lg">Explore</a>
  </div>
  <br /><br /><br /><br />
</div>
