<div class="jumbotron partner-header">

  <br /><br /> <br /><br /><br /><br />
  <h1 class="text-center hidden-xs hidden-sm">Drive for Us!</h1>
  <h2 class="text-center hidden-md hidden-lg">Drive for Us!</h2>
  <h3 class="text-center hidden-xs hidden-sm">Help us change delivery.</h3>
  <h4 class="text-center hidden-md hidden-lg">Help us change delivery.</h4>


  <br />
  <div class="col-xs-6 col-xs-offset-3 col-md-4 col-md-offset-4 col-lg-2 col-lg-offset-5">
    <a href="mailto:drive@getbyte.co" class="btn btn-default btn-block btn-lg">Sign Up!</a>
  </div>
  <br /><br /><br /><br />
  <div class="clearfix"></div>
  <br /><br />
</div>
<div class="jumbotron" style="background:#fff;">
  <div class="row">
    <div class="col-lg-10 col-lg-offset-1">
      <div class="col-lg-3 col-sm-4 col-xs-6 thumb">
        <img class="img-responsive" src="http://i.imgur.com/Qa7fsZ0.png" alt="">
      </div>
      <div class="col-lg-3 col-sm-4 col-xs-6 thumb">
        <img class="img-responsive" src="http://i.imgur.com/Qa7fsZ0.png" alt="">
      </div>
      <div class="col-lg-3 col-sm-4 col-xs-6 thumb">
        <img class="img-responsive" src="http://i.imgur.com/Qa7fsZ0.png" alt="">
      </div>
    </div>
  </div>
</div>
<div class="jumbotron">
  <br />
  <h2 class="text-center">Be part of the food delivery revolution.</h2>
  <br /><br />
  <div class="col-xs-6 col-xs-offset-3 col-md-4 col-md-offset-4 col-lg-2 col-lg-offset-5">
    <a href="mailto:drive@getbyte.co" class="btn btn-default black btn-block btn-lg">Get Started!</a>
  </div>
  <br /><br /><br /><br />
</div>

