<div class="container-fluid container-fill-height">
  <div class="container-content-middle">
    <form role="form" class="m-x-auto text-center app-login-form">

      <a href="/" class="app-brand m-b-lg">
        <img src="http://i.imgur.com/aRJpKUG.png" alt="brand">
      </a>

      <div class="form-group">
        <input class="form-control" placeholder="Email">
      </div>

      <div class="m-b-lg">
        <button class="btn btn-block btn-primary">Send Password</button>
      </div>

      <footer class="screen-login">
        <%= link_to "Login", login_path %>
      </footer>
    </form>
  </div>
</div>

