<nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="block-images col-sm-12 col-md-10 col-md-offset-1 col-lg-10 col-lg-offset-1">
    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav secondary">
        <li class="active"><a href="/help"><b>Help</b></a></li>
        <li><a href="/contact">Contact</a></li>
        <li><a href="/terms">Terms</a></li>
        <li><a href="/privacy">Privacy</a></li>
      </ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>
<br />
<div class="col-md-10 col-md-offset-1 col-lg-8 col-lg-offset-2">
  <div class="panel panel-default">
    <div class="panel-body">
      <h2 class="text-center">
        Help
      </h2>
      <hr />

      <div class="col-lg-10 col-lg-offset-1 panel-group" id="accordion" role="tablist" >

        <div class="panel panel-default">
          <div class="panel-heading" role="tab" id="heading1">
            <h3 class="panel-title">
              <a role="button" data-toggle="collapse" data-parent="accordion" href="#collapse1" aria-contols="collapse1">
                How much does it cost for delivery?
              </a>
            </h3>
          </div> <!-- .panel-heading !-->
          <div id="collapse1" class="panel-collapse collapse" role="tabpanel" aria-labelledby="heading1">
            <div class="panel-body">
              Delivery is free.
            </div> <!-- .panel-body !-->
          </div> <!-- .collapse !-->
        </div> <!-- .panel !-->

        <div class="panel panel-default">
          <div class="panel-heading" role="tab" id="heading2">
            <h3 class="panel-title">
              <a role="button" data-toggle="collapse" data-parent="accordion" href="#collapse2" aria-contols="collapse2">
                Do you have a minimum order size?
              </a>
            </h3>
          </div> <!-- .panel-heading !-->
          <div id="collapse2" class="panel-collapse collapse" role="tabpanel" aria-labelledby="heading2">
            <div class="panel-body">
              Each group must be at least 3 people, but we don't have a minimum dollar amount for each order.
            </div> <!-- .panel-body !-->
          </div> <!-- .collapse !-->
        </div> <!-- .panel !-->

        <div class="panel panel-default">
          <div class="panel-heading" role="tab" id="heading3">
            <h3 class="panel-title">
              <a role="button" data-toggle="collapse" data-parent="accordion" href="#collapse3" aria-contols="collapse3">
                How do I use Derby?
              </a>
            </h3>
          </div> <!-- .panel-heading !-->
          <div id="collapse3" class="panel-collapse collapse" role="tabpanel" aria-labelledby="heading3">
            <div class="panel-body">
              Derby’s app is extremely simple to use, and is available on iOS and Android and Web. To order online, visit <a href="http://getderby.co">http://getderby.co</a> and enter your delivery address, then browse featured items for delivery.
              <br /><br />
              &nbsp;&nbsp;1. Select items from the home screen you wish to purchase by clicking the plus icon.
              <br /><br />
              &nbsp;&nbsp;2. Swipe right or click checkout to complete your order.
            </div> <!-- .panel-body !-->
          </div> <!-- .collapse !-->
        </div> <!-- .panel !-->

        <div class="panel panel-default">
          <div class="panel-heading" role="tab" id="heading4">
            <h3 class="panel-title">
              <a role="button" data-toggle="collapse" data-parent="accordion" href="#collapse4" aria-contols="collapse4">
                What is Derby's delivery window?
              </a>
            </h3>
          </div> <!-- .panel-heading !-->
          <div id="collapse4" class="panel-collapse collapse" role="tabpanel" aria-labelledby="heading4">
            <div class="panel-body">
              Derby delivers lunch from 11:30am - 2:30pm.
            </div> <!-- .panel-body !-->
          </div> <!-- .collapse !-->
        </div> <!-- .panel !-->

        <div class="panel panel-default">
          <div class="panel-heading" role="tab" id="heading5">
            <h3 class="panel-title">
              <a role="button" data-toggle="collapse" data-parent="accordion" href="#collapse5" aria-contols="collapse5">
                What is the order cutoff time?
              </a>
            </h3>
          </div> <!-- .panel-heading !-->
          <div id="collapse5" class="panel-collapse collapse" role="tabpanel" aria-labelledby="heading5">
            <div class="panel-body">
              You must place your order before 10:00 am the morning your lunch will be delivered.
            </div> <!-- .panel-body !-->
          </div> <!-- .collapse !-->
        </div> <!-- .panel !-->

        <div class="panel panel-default">
          <div class="panel-heading" role="tab" id="heading6">
            <h3 class="panel-title">
              <a role="button" data-toggle="collapse" data-parent="accordion" href="#collapse6" aria-contols="collapse6">
                Where is Derby available?
              </a>
            </h3>
          </div> <!-- .panel-heading !-->
          <div id="collapse6" class="panel-collapse collapse" role="tabpanel" aria-labelledby="heading6">
            <div class="panel-body">
              Currently, Derby is only serving Atlanta but we will be expanding to more cities very soon.
            </div> <!-- .panel-body !-->
          </div> <!-- .collapse !-->
        </div> <!-- .panel !-->

        <div class="panel panel-default">
          <div class="panel-heading" role="tab" id="heading7">
            <h3 class="panel-title">
              <a role="button" data-toggle="collapse" data-parent="accordion" href="#collapse7" aria-contols="collapse7">
                Who makes the deliveries?
              </a>
            </h3>
          </div> <!-- .panel-heading !-->
          <div id="collapse7" class="panel-collapse collapse" role="tabpanel" aria-labelledby="heading7">
            <div class="panel-body">
              Our drivers are personally onboarded by our management team to complete deliveries in your city.
            </div> <!-- .panel-body !-->
          </div> <!-- .collapse !-->
        </div> <!-- .panel !-->

        <div class="panel panel-default">
          <div class="panel-heading" role="tab" id="heading8">
            <h3 class="panel-title">
              <a role="button" data-toggle="collapse" data-parent="accordion" href="#collapse8" aria-contols="collapse8">
                Can I customize my order?
              </a>
            </h3>
          </div> <!-- .panel-heading !-->
          <div id="collapse8" class="panel-collapse collapse" role="tabpanel" aria-labelledby="heading8">
            <div class="panel-body">
              Currently we are unable to provide customized meal requests.
            </div> <!-- .panel-body !-->
          </div> <!-- .collapse !-->
        </div> <!-- .panel !-->

        <div class="panel panel-default">
          <div class="panel-heading" role="tab" id="heading9">
            <h3 class="panel-title">
              <a role="button" data-toggle="collapse" data-parent="accordion" href="#collapse9" aria-contols="collapse9">
                What if I need to contact my driver?
              </a>
            </h3>
          </div> <!-- .panel-heading !-->
          <div id="collapse9" class="panel-collapse collapse" role="tabpanel" aria-labelledby="heading9">
            <div class="panel-body">
              You can call your driver at any point during your delivery, directly from the app.
            </div> <!-- .panel-body !-->
          </div> <!-- .collapse !-->
        </div> <!-- .panel !-->

        <div class="panel panel-default">
          <div class="panel-heading" role="tab" id="heading10">
            <h3 class="panel-title">
              <a role="button" data-toggle="collapse" data-parent="accordion" href="#collapse10" aria-contols="collapse10">
                What should I do if I need to edit my delivery address?
              </a>
            </h3>
          </div> <!-- .panel-heading !-->
          <div id="collapse10" class="panel-collapse collapse" role="tabpanel" aria-labelledby="heading10">
            <div class="panel-body">
              If you have not placed your order yet, you can edit the drop-off directly from the home page or the check-out page.
              <br /><br />
              If you've already placed your order and need to change the delivery address, you can call your driver directly from the app.
            </div> <!-- .panel-body !-->
          </div> <!-- .collapse !-->
        </div> <!-- .panel !-->

        <div class="panel panel-default">
          <div class="panel-heading" role="tab" id="heading11">
            <h3 class="panel-title">
              <a role="button" data-toggle="collapse" data-parent="accordion" href="#collapse11" aria-contols="collapse11">
                What if I need to change my order, or add an item?
              </a>
            </h3>
          </div> <!-- .panel-heading !-->
          <div id="collapse11" class="panel-collapse collapse" role="tabpanel" aria-labelledby="heading11">
            <div class="panel-body">
              Call your driver as soon as you realize you need to change the order.
            </div> <!-- .panel-body !-->
          </div> <!-- .collapse !-->
        </div> <!-- .panel !-->

        <div class="panel panel-default">
          <div class="panel-heading" role="tab" id="heading12">
            <h3 class="panel-title">
              <a role="button" data-toggle="collapse" data-parent="accordion" href="#collapse12" aria-contols="collapse12">
                Is tip required?
              </a>
            </h3>
          </div> <!-- .panel-heading !-->
          <div id="collapse12" class="panel-collapse collapse" role="tabpanel" aria-labelledby="heading12">
            <div class="panel-body">
              Yes, our drivers rely on tips from our customers. You have the option to tip your driver 15%, 20%, or 25%.
            </div> <!-- .panel-body !-->
          </div> <!-- .collapse !-->
        </div> <!-- .panel !-->

        <div class="panel panel-default">
          <div class="panel-heading" role="tab" id="heading13">
            <h3 class="panel-title">
              <a role="button" data-toggle="collapse" data-parent="accordion" href="#collapse13" aria-contols="collapse13">
                Can I tip my driver with cash?
              </a>
            </h3>
          </div> <!-- .panel-heading !-->
          <div id="collapse13" class="panel-collapse collapse" role="tabpanel" aria-labelledby="heading13">
            <div class="panel-body">
              No. Tips are only accepted through the app.
            </div> <!-- .panel-body !-->
          </div> <!-- .collapse !-->
        </div> <!-- .panel !-->

        <div class="panel panel-default">
          <div class="panel-heading" role="tab" id="heading14">
            <h3 class="panel-title">
              <a role="button" data-toggle="collapse" data-parent="accordion" href="#collapse14" aria-contols="collapse14">
                How do you hire your drivers?
              </a>
            </h3>
          </div> <!-- .panel-heading !-->
          <div id="collapse14" class="panel-collapse collapse" role="tabpanel" aria-labelledby="heading13">
            <div class="panel-body">
              All driver are thoroughly vetted, including a background check, in-person interview and test deliveries.
            </div> <!-- .panel-body !-->
          </div> <!-- .collapse !-->
        </div> <!-- .panel !-->


        <div class="panel panel-default">
          <div class="panel-heading" role="tab" id="heading15">
            <h3 class="panel-title">
              <a role="button" data-toggle="collapse" data-parent="accordion" href="#collapse15" aria-contols="collapse15">
                Can I apply to become a driver?
              </a>
            </h3>
          </div> <!-- .panel-heading !-->
          <div id="collapse15" class="panel-collapse collapse" role="tabpanel" aria-labelledby="heading15">
            <div class="panel-body">
              Yes, we would love that! You can submit an application here: <a href="http://getderby.co/drive">http://www.getderby.co/drive</a>
            </div> <!-- .panel-body !-->
          </div> <!-- .collapse !-->
        </div> <!-- .panel !-->

        <div class="panel panel-default">
          <div class="panel-heading" role="tab" id="heading16">
            <h3 class="panel-title">
              <a role="button" data-toggle="collapse" data-parent="accordion" href="#collapse16" aria-contols="collapse16">
                What if my delivery is late?
              </a>
            </h3>
          </div> <!-- .panel-heading !-->
          <div id="collapse16" class="panel-collapse collapse" role="tabpanel" aria-labelledby="heading16">
            <div class="panel-body">
              Depending on the circumstances, we may give you a partial refund.
            </div> <!-- .panel-body !-->
          </div> <!-- .collapse !-->
        </div> <!-- .panel !-->

        <div class="panel panel-default">
          <div class="panel-heading" role="tab" id="heading17">
            <h3 class="panel-title">
              <a role="button" data-toggle="collapse" data-parent="accordion" href="#collapse17" aria-contols="collapse17">
                Will my driver bring the meal inside my office?
              </a>
            </h3>
          </div> <!-- .panel-heading !-->
          <div id="collapse17" class="panel-collapse collapse" role="tabpanel" aria-labelledby="heading17">
            <div class="panel-body">
              Yes!
            </div> <!-- .panel-body !-->
          </div> <!-- .collapse !-->
        </div> <!-- .panel !-->

        <div class="panel panel-default">
          <div class="panel-heading" role="tab" id="heading18">
            <h3 class="panel-title">
              <a role="button" data-toggle="collapse" data-parent="accordion" href="#collapse18" aria-contols="collapse18">
                I’m a restaurant or caterer and I'm interested in partnering with Derby. What steps should I take?
              </a>
            </h3>
          </div> <!-- .panel-heading !-->
          <div id="collapse18" class="panel-collapse collapse" role="tabpanel" aria-labelledby="heading18">
            <div class="panel-body">
              Thanks for your interest! We’re always looking to deliver great new dishes.  Visit the <%= link_to "Restaurant Page", restaurants_path %> to sign up!
            </div> <!-- .panel-body !-->
          </div> <!-- .collapse !-->
        </div> <!-- .panel !-->
      </div> <!-- #accordion !-->

      <%= image_tag('Derby-Logo-Black', class: "center-block", style: "width:40px;") %>
      </div>
    </div>
  </div>
</div>
