<nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="block-images col-sm-12 col-md-10 col-md-offset-1 col-lg-10 col-lg-offset-1">
    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav secondary">
        <li class="active"><a href="/help"><b>Help</b></a></li>
        <li><a href="/contact">Contact</a></li>
        <li><a href="/terms">Terms</a></li>
        <li><a href="/privacy">Privacy</a></li>
      </ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>
<br />
<div class="col-md-10 col-md-offset-1 col-lg-8 col-lg-offset-2">
  <div class="panel panel-default">
    <div class="panel-body">
      <h2 class="text-center">
        Help
      </h2>
      <hr />

      <div class="col-lg-10 col-lg-offset-1">
        <br />
        <p>
        <h3>How do I use Derby?</h3>
        <hr>

        Derby’s app is extremely simple to use, and is available on iOS and Android and Web. To order online, visit <a href="http://getderby.co">http://getderby.co</a> and enter your delivery address, then browse featured items for delivery.
        <br /><br />
        &nbsp;&nbsp;1. Select an item from the on the home screen you wish to purchase by clicking the plus icon.
        <br /><br />
        &nbsp;&nbsp;2. Swipe right or click checkout to complete your order.


        <br /><br />
        <h3>When can I use Derby?</h3>
        <hr>

        Derby is available for breakfast Monday through Friday from 7:00 am - 10:30 am.

        <br /><br />
        <h3>Where is Derby available?</h3>
        <hr>

        Currently, Derby is only serving Atlanta but we will be expanding to more cities very soon.


        <br /><br />
        <h3>Who makes the deliveries?</h3>
        <hr>

        Our drivers are personally onboarded by our management team to complete deliveries in your city.

        <br /><br />
        <h3>How much does it cost?</h3>
        <hr>

        Delivery fees are $2.

        <br /><br />
        <h3>What if I need to contact my driver?</h3>
        <hr>

        You can call your driver at any point during your delivery, directly from the app.

        <br /><br />
        <h3>Does Derby deliver to commercial addresses?</h3>
        <hr>

        Absolutely. As long as you are in our delivery area.

        <br /><br />
        <h3>What should I do if I need to edit my delivery address?</h3>
        <hr>

        If you have not placed your order yet, you can edit the drop-off directly from the home page or the check-out page.
        <br /><br />
        If you've already placed your order and need to change the delivery address, you can call your driver directly from the app.

        <br /><br />
        <h3>What if I need to change my order, or add an item?</h3>
        <hr>

        Call your driver as soon as you realize you need to change the order.


        <br /><br />
        <h3>Is tip required?</h3>
        <hr>

        Tip is not required.. If you would like to leave a tip, you are given the opportunity to add 1, 2, or 3 dollar amount.

        <br /><br />
        <h3>Can I tip my driver with cash?</h3>
        <hr>

        No. Tips are only accepted through the app.

        <br /><br />
        <h3>How do you hire your drivers?</h3>
        <hr>

        All driver are thoroughly vetted, including a background check, in-person interview and test deliveries.

        <br /><br />
        <h3>Can I apply to become a driver?</h3>
        <hr>

        Yes, we would love that! You can submit an application here: <a href="http://getderby.co/drivers">http://www.getderby.co/drivers</a>

        <br /><br />
        <h3>What if my delivery takes longer than 15 minutes?</h3>
        <hr>

        Depending on the circumstances, we may refund the delivery cost.

        <br /><br />
        <h3>Will my driver bring the meal to my door or inside my office?</h3>
        <hr>

        No, curbside delivery is the quickest and most reliable way for you to connect with your driver.

        <br /><br />
        <h3>I’m a restaurant and am interested in partnering with Derby. What steps should I take?</h3>
        <hr>

        Thanks for your interest! We’re always looking to deliver great new dishes. Please send us a message to <a href="mailto:email">Email</a>.

        </p>
        <br />
         <%= image_tag('Derby-Logo-Black', class: "center-block", style: "width:40px;") %>
      </div>
    </div>
  </div>
</div>