<div id="jumbotron" class="jumbotron home-header">
  <div class="col-md-7 col-md-offset-1">
    <h1 class="hidden-sm hidden-xs" style="font-size:50px;">Refresh</h1>
    <h1 class="hidden-md hidden-lg text-center" style="font-size:35px;">Refresh</h1>
    <h3 class="hidden-sm hidden-xs" style="font-size:26px;">Get clothes delivered in an hour</h3>
    <h3 class="hidden-md hidden-lg text-center" style="font-size:20px;">Get clothes delivered in an hour</h3>
  </div>
  <div class="col-md-3 text-center">
  	<br class="hidden-xs hidden-sm">
  	<br />
    <div class="row">
      <div class="col-xs-10 col-xs-offset-1 col-sm-8 col-sm-offset-2 col-md-10">
        <%= form_tag stores_path, method: :post, id: 'store-location-form' do %>
          <div class="input-group">
            <input id="gmaps-autocomplete" name="address" type="text" class="form-control input-lg" placeholder="Enter your address">
            <input id="latitude" name="latitude" type="hidden">
            <input id="longitude" name="longitude" type="hidden">
            <span class="input-group-btn">
              <button class="btn btn-primary btn-lg" type="button">Go!</button>
            </span>
          </div><!-- /input-group -->
        <% end %>
      </div>
    </div><!-- /.row -->

  </div>
  <div class="clearfix"></div>
</div>

<!-- Loading Google Maps API only for this page -->
<script src="https://maps.googleapis.com/maps/api/js?signed_in=true&amp;libraries=places&amp;callback=initGoogleMapsAutocomplete" async="" defer=""></script>
