<div class="container-fluid container-fill-height">
  <div class="container-content-middle">
    <form role="form" class="m-x-auto text-center app-login-form">

      <a href="/" class="app-brand m-b-lg">
        <img src="http://i.imgur.com/aRJpKUG.png" alt="brand">
      </a>

      <div class="form-group">
        <a id="facebook-button" ng-click="startLogin()" ng-disabled="!facebookReady || isSubmitting" class="fb-button">
            <span class="facebook"></span> Connect with Facebook
          </a>
      </div>

      <hr />

      <div class="form-group">
        <input class="form-control" placeholder="Username">
      </div>

      <div class="form-group m-b-md">
        <input type="password" class="form-control" placeholder="Password">
      </div>

      <div class="m-b-lg">
        <button class="btn btn-primary">Log In</button>
        <button class="btn btn-default">Sign up</button>
      </div>

      <footer class="screen-login">
        <a href="#" class="text-muted">Forgot password</a>
      </footer>
    </form>
  </div>
</div>

