<div class="container p-t-md">
  <div class="row">
    <div class="col-md-3">

      <div class="list-group m-b-md">
        <a href="#" class="list-group-item">
          <span class="icon icon-chevron-thin-right pull-right"></span>
          Notifications
        </a>
        <a href="#" class="list-group-item">
          <span class="icon icon-chevron-thin-right pull-right"></span>
          Mentions
        </a>
      </div>

       <div class="panel panel-default visible-md-block visible-lg-block">
        <div class="panel-body">
          <h5 class="m-t-0">Photos <small>· <a href="#">Edit</a></small></h5>
          <div data-grid="images" data-target-height="150">
            <div>
              <img data-width="640" data-height="640" data-action="zoom" src="http://bootstrap-themes.github.io/application/assets/img/instagram_5.jpg">
            </div>

            <div>
              <img data-width="640" data-height="640" data-action="zoom" src="http://bootstrap-themes.github.io/application/assets/img/instagram_6.jpg">
            </div>

            <div>
              <img data-width="640" data-height="640" data-action="zoom" src="http://bootstrap-themes.github.io/application/assets/img/instagram_7.jpg">
            </div>

            <div>
              <img data-width="640" data-height="640" data-action="zoom" src="http://bootstrap-themes.github.io/application/assets/img/instagram_8.jpg">
            </div>

            <div>
              <img data-width="640" data-height="640" data-action="zoom" src="http://bootstrap-themes.github.io/application/assets/img/instagram_9.jpg">
            </div>

            <div>
              <img data-width="640" data-height="640" data-action="zoom" src="http://bootstrap-themes.github.io/application/assets/img/instagram_10.jpg">
            </div>
          </div>
        </div>
      </div>

      <div class="panel panel-default visible-md-block visible-lg-block">
        <div class="panel-body">
          <h5 class="m-t-0">Trending Searches <small>· <a href="#">Change</a></small></h5>
          <ul class="list-unstyled list-spaced">
            <li><a href="#">#Bootstrap</a>
            <li><a href="#">Mdo for pres</a>
            <li><a href="#">#fatsux</a>
            <li><a href="#">#buyme</a>
            <li><a href="#">#designishard</a>
            <li><a href="#">#helpawesomepeople</a>
            <li><a href="#">#doawesomestuff</a>
            <li><a href="#">Tom Brady</a>
            <li><a href="#">Magna Carta</a>
            <li><a href="#">Mark Otto</a>
            <li><a href="#">Dave Gamache</a>
            <li><a href="#">Jacob Thornton</a>
          </ul>
        </div>
      </div>
    </div>

    <div class="col-md-6">
      <ul class="list-group media-list media-list-stream">
        <li class="list-group-item p-a">
          <h3 class="m-a-0">Notifications</h3>
        </li>

        <li class="list-group-item media p-a">
          <div class="media-left">
            <span class="icon icon-globe text-muted"></span>
          </div>

          <div class="media-body">
            <small class="pull-right text-muted">1 min</small>
            <div class="media-heading">
              <a href="#"><strong>Dave Gamache</strong></a> went traveling
            </div>

          </div>
        </li>

        <li class="list-group-item media p-a">
          <div class="media-left">
            <span class="icon icon-game-controller text-muted"></span>
          </div>

          <div class="media-body">
            <small class="pull-right text-muted">3 min</small>
            <div class="media-heading">
              <a href="#"><strong>Mark Otto</strong></a> played destiny
            </div>

          </div>
        </li>

        <li class="list-group-item media p-a">
          <div class="media-left">
            <span class="icon icon-user text-muted"></span>
          </div>

          <div class="media-body">
            <small class="pull-right text-muted">34 min</small>
            <div class="media-heading">
              <a href="#"><strong>Fat</strong></a> and <a href="#"><strong>1 other</strong></a> followed you
            </div>
            <ul class="avatar-list">
              <li class="avatar-list-item"><img class="img-circle" src="http://bootstrap-themes.github.io/application/assets/img/avatar-fat.jpg">
              <li class="avatar-list-item"><img class="img-circle" src="http://bootstrap-themes.github.io/application/assets/img/avatar-dhg.png">
            </ul>
          </div>
        </li>

        <li class="list-group-item media p-a">
          <div class="media-left">
            <span class="icon icon-camera text-muted"></span>
          </div>

          <div class="media-body">
            <small class="pull-right text-muted">3 min</small>
            <div class="media-heading">
              <a href="#"><strong>Dave Gamache</strong></a> uploaded a photo
            </div>

            <div class="media-body-inline-grid" data-grid="images">
              <img style="display: none" data-width="640" data-height="640" data-action="zoom" src="http://bootstrap-themes.github.io/application/assets/img/instagram_3.jpg">
            </div>
          </div>
        </li>

        <li class="list-group-item media p-a">
          <div class="media-left">
            <span class="icon icon-flag text-muted"></span>
          </div>

          <div class="media-body">
            <small class="pull-right text-muted">3 min</small>
            <div class="media-heading">
              <a href="#"><strong>Mark Otto</strong></a> flagged your post
            </div>

            <div class="panel panel-default m-t">
              <div class="panel-body">
                <div class="media">
                  <a class="media-left" href="#">
                    <img
                      class="media-object img-circle"
                      src="http://bootstrap-themes.github.io/application/assets/img/avatar-fat.jpg">
                  </a>
                  <div class="media-body">
                    <div class="media-body-text">
                      <div class="media-heading">
                        <small class="pull-right text-muted">1 hr</small>
                        <h5 class="m-b-0">Jacob Thornton</h5>
                      </div>
                      Donec id elit non mi porta gravida at eget metus. Integer posuere erat a ante venenatis dapibus posuere velit aliquet. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Morbi leo risus, porta ac consectetur ac, vestibulum at eros. Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </li>

        <li class="list-group-item media p-a">
          <div class="media-left">
            <span class="icon icon-heart text-muted"></span>
          </div>

          <div class="media-body">
            <small class="pull-right text-muted">4 hr</small>
            <div class="media-heading">
              <a href="#"><strong>Mark Otto</strong></a> and <a href="#"><strong>2 others</strong></a> favorited your post
            </div>
            <ul class="avatar-list">
              <li class="avatar-list-item"><img class="img-circle" src="http://bootstrap-themes.github.io/application/assets/img/avatar-dhg.png">
              <li class="avatar-list-item"><img class="img-circle" src="http://bootstrap-themes.github.io/application/assets/img/avatar-mdo.png">
              <li class="avatar-list-item"><img class="img-circle" src="http://bootstrap-themes.github.io/application/assets/img/avatar-fat.jpg">
            </ul>
          </div>
        </li>

        <li class="list-group-item media p-a">
          <div class="media-left">
            <span class="icon icon-user text-muted"></span>
          </div>

          <div class="media-body">
            <small class="pull-right text-muted">30 min</small>
            <div class="media-heading">
              You followed <a href="#"><strong>Jacob Thornton</strong></a> and <a href="#"><strong>1 other</strong></a>
            </div>

            <div class="m-t">
              <div class="row">
                <div class="col-md-6">
                  <div class="panel panel-default panel-profile">
                    <div class="panel-heading"
                         style="background-image: url(http://bootstrap-themes.github.io/application/assets/img/instagram_4.jpg);"></div>
                    <div class="panel-body text-center">
                      <img class="panel-profile-img" src="http://bootstrap-themes.github.io/application/assets/img/avatar-fat.jpg">

                      <h5 class="panel-title">Jacob Thornton</h5>
                      <p class="m-b-md">Big belly rude boy, million dollar hustler. Unemployed.</p>

                      <button class="btn btn-primary-outline btn-sm">
                        <span class="icon icon-add-user"></span> Follow
                      </button>
                    </div>
                  </div>
                </div>

                 <div class="col-md-6">
                  <div class="panel panel-default panel-profile">
                    <div class="panel-heading"
                         style="background-image: url(http://bootstrap-themes.github.io/application/assets/img/instagram_1.jpg);"></div>
                    <div class="panel-body text-center">
                      <img class="panel-profile-img" src="http://bootstrap-themes.github.io/application/assets/img/avatar-mdo.png">

                      <h5 class="panel-title">Mark Otto</h5>
                      <p class="m-b-md">GitHub and Bootstrap. Formerly at Twitter. Huge nerd.</p>

                      <button class="btn btn-primary-outline btn-sm">
                        <span class="icon icon-add-user"></span> Follow
                      </button>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </li>

        <li class="list-group-item media p-a">
          <div class="media-left">
            <span class="icon icon-cog text-muted"></span>
          </div>

          <div class="media-body">
            <small class="pull-right text-muted">30 min</small>
            <div class="media-heading">
              <a href="#"><strong>Jacob Thornton</strong></a> and <a href="#"><strong>1 other</strong></a> updated their settings
            </div>
            <ul class="avatar-list">
              <li class="avatar-list-item"><img class="img-circle" src="http://bootstrap-themes.github.io/application/assets/img/avatar-fat.jpg">
              <li class="avatar-list-item"><img class="img-circle" src="http://bootstrap-themes.github.io/application/assets/img/avatar-dhg.png">
            </ul>
          </div>
        </li>

        <li class="list-group-item media p-a">
          <div class="media-left">
            <span class="icon icon-creative-commons-noncommercial-us text-muted"></span>
          </div>

          <div class="media-body">
            <small class="pull-right text-muted">1 min</small>
            <div class="media-heading">
              <a href="#"><strong>Jacob Thornton</strong></a> quit his job
            </div>

          </div>
        </li>
      </ul>
    </div>
    <div class="col-md-3">
      <div class="panel panel-default m-b-md hidden-xs">
        <div class="panel-body">
        <h5 class="m-t-0">Active Users <small>· <a href="#">View All</a></small></h5>
        <ul class="media-list media-list-stream">
          <li class="media m-b">
            <a class="media-left" href="#">
              <img
                class="media-object img-circle"
                src="http://bootstrap-themes.github.io/application/assets/img/avatar-fat.jpg">
            </a>
            <div class="media-body">
              <strong>Jacob Thornton</strong> @fat
              <div class="media-body-actions">
                <button class="btn btn-primary-outline btn-sm">
                  <span class="icon icon-add-user"></span> Follow</button>
              </div>
            </div>
          </li>
           <li class="media">
            <a class="media-left" href="#">
              <img
                class="media-object img-circle"
                src="http://bootstrap-themes.github.io/application/assets/img/avatar-mdo.png">
            </a>
            <div class="media-body">
              <strong>Mark Otto</strong> @mdo
              <div class="media-body-actions">
                <button class="btn btn-primary-outline btn-sm">
                  <span class="icon icon-add-user"></span> Follow</button></button>
              </div>
            </div>
          </li>
        </ul>
        </div>
        <div class="panel-footer">
          Dave really likes these nerds, no one knows why though.
        </div>
      </div>


        <div class="panel panel-default">
          <div class="panel-body">
          © 2015 Bootstrap

          <a href="#">About</a>
          <a href="#">Help</a>
          <a href="#">Terms</a>
          <a href="#">Privacy</a>
          <a href="#">Cookies</a>
          <a href="#">Ads </a>

          <a href="#">info</a>
          <a href="#">Brand</a>
          <a href="#">Blog</a>
          <a href="#">Status</a>
          <a href="#">Apps</a>
          <a href="#">Jobs</a>
          <a href="#">Advertise</a>
          </div>
      </div>
    </div>
  </div>
</div>