<%= render 'layouts/header' %>
<div id="jumbotron" class="jumbotron partner-header">
  <div class="col-md-12">
    <br />
    <br />
    <br />
    <br class="hidden-xs">
    <br class="hidden-xs">
    <h1 class="text-center hidden-sm hidden-xs">Partner with Refresh</h1>
    <h2 class="text-center hidden-md hidden-lg text-center">Partner with Refresh</h2>
    <h3 class="text-center hidden-sm hidden-xs">Enter your email address and we'll be in touch shortly!</h3>
    <h3 class="text-center hidden-md hidden-lg text-center">Enter your email address and we'll be in touch shortly!</h3>
  </div>
  <div class="col-md-4 col-md-offset-4">
    <br class="hidden-xs hidden-sm">
    <br />
    <div class="row">
      <div class="col-xs-10 col-xs-offset-1 col-sm-8 col-sm-offset-2 col-md-12 col-md-offset-0">
        <div class="input-group">
          <input type="search" name="address" id="gmaps-autocomplete" class="form-control input-lg partner-email" autofocus="autofocus" placeholder="Email address" required="required" autocomplete="off">
          <span class="input-group-btn">
            <button name="button" type="submit" value="search" class="btn btn-primary btn-lg partner-button">Go!</button>
          </span>
        </div><!-- /input-group -->
      </div>
    </div><!-- /.row -->

  </div>
  <div class="clearfix"></div>
</div>

<div class="content-section-a">
  <div class="container">
    <div class="row">
      <div class="col-lg-6 col-sm-6">
        <hr class="section-heading-spacer">
        <div class="clearfix"></div>
        <h2 class="section-heading">One-Hour Delivery</h2>
        <p class="lead">Increase your sales up to 30% by allowing customers to get their clothes delivered quickly.</p>
      </div>
      <div class="col-lg-5 col-lg-offset-1 col-sm-6">
          <img class="img-responsive" src="http://i.imgur.com/oNtwAuB.png" alt="">
      </div>
    </div>
  </div>
  <!-- /.container -->
</div>
<div class="content-section-b">
  <div class="container">
    <div class="row">
      <div class="col-lg-6 col-sm-push-6  col-sm-6">
        <hr class="section-heading-spacer">
        <div class="clearfix"></div>
        <h2 class="section-heading">Get Your Clothes Discovered</h2>
        <p class="lead">Our revolutionary platform allows users to easily discover the best clothes around them in a whole new way.</p>
      </div>
      <div class="col-lg-5 col-sm-pull-6  col-sm-6">
        <img class="img-responsive" src="http://www.kidscolouring.co.uk/wp-content/uploads/2015/02/Colouring-Pictures-Clothes-For-Winter-Colouring-Kids-352x402.png" alt="">
      </div>
    </div>
  </div>
  <!-- /.container -->
</div>
<div class="content-section-a">
  <div class="container">
    <div class="row">
      <div class="col-lg-5 col-sm-6">
        <hr class="section-heading-spacer">
        <div class="clearfix"></div>
        <h2 class="section-heading">Mobilize your business</h2>
        <p class="lead">With Refresh, your business can now operate through mobile apps on iOS, Android, and through the browser.</p>
      </div>
      <div class="col-lg-5 col-lg-offset-2 col-sm-6">
        <img class="img-responsive" src="http://i.imgur.com/NL8FLvV.png" alt="">
      </div>
    </div>
  </div>
  <!-- /.container -->
</div>
<div class="banner">
  <div class="container">
    <div class="row">
      <div class="col-lg-7">
        <h2>Connect with Us:</h2>
      </div>
      <div class="col-lg-5">
        <ul class="list-inline banner-social-buttons">
          <li>
            <a href="https://twitter.com/SBootstrap" class="btn btn-default btn-lg"><i class="fa fa-facebook fa-fw"></i> <span class="network-name">Facebook</span></a>
          </li>
          <li>
            <a href="https://github.com/IronSummitMedia/startbootstrap" class="btn btn-default btn-lg"><i class="fa fa-twitter fa-fw"></i> <span class="network-name">Twitter</span></a>
          </li>
        </ul>
      </div>
    </div>
  </div>
  <!-- /.container -->
</div>
