<nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="block-images col-sm-12 col-md-10 col-md-offset-1 col-lg-10 col-lg-offset-1">
    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav secondary">
        <li><a href="/help">Help</a></li>
        <li><a href="/contact">Contact</a></li>
        <li><a href="/terms">Terms</a></li>
        <li class="active"><a href="/privacy"><b>Privacy</b></a></li>
      </ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>
<br />
<div class="col-md-10 col-md-offset-1 col-lg-8 col-lg-offset-2">
	<div class="panel panel-default">
		<div class="panel-body">
			<h2 class="text-center">
				Privacy Policy
			</h2>
			<h4 class="text-center">Thank you for using Derby!</h4>
			<hr />

			<div class="col-lg-10 col-lg-offset-1">
				<br />
				<p>
					Your privacy is important to us. To better protect your privacy we provide this notice explaining our online information practices and the choices you can make about the way your information is collected and used.
					<br /><br />

					<h3>The Information We Collect</h3>
					<hr>
					Any information gathered by Derby Inc. is used to customize the Derby Inc. experience, and is not shared or sold to any third parties, except as expressly provided for in this Privacy Policy and our Terms of Use.

					Derby Inc. reserves the right to view private sites and private posts for the purposes of fixing issues, and to look for copyrighted or other inappropriate material. This will only be done as necessary and these posts will never be shared by anyone else.
					<br /><br />
					<h3>Our Commitment To Data Security</h3>
					<hr>
					To prevent unauthorized access, maintain data accuracy, and ensure the correct use of information, we have put in place appropriate physical, electronic, and managerial procedures to safeguard and secure the information we collect online. We believe in protecting your information just as we would want our information protected.

					In the event that personal information is compromised as a result of a breach of security, Derby Inc. will promptly notify those persons whose personal information has been compromised, in accordance with the notification procedures set forth in this Privacy Policy, or as otherwise required by applicable law.
					<br /><br />
					<h3>Notifications</h3>
					<hr>
					It is our policy to provide notifications, whether such notifications are required by law or are for marketing or other business related purposes, to our users via e-mail notice, written or hard copy notice, or through conspicuous posting of such notice on the Derby Inc. website, as determined by us in our sole discretion. Notwithstanding the foregoing, Derby Inc. reserves the right to determine the form and means of providing notifications to our users.
					<br /><br />
					<h3>Child Protection</h3>
					<hr>
					We do not offer services to, or target, persons under the age of 13. In compliance with the Children's Online Privacy Protection Act, we will purge any information we receive from people we believe to be children under 13 from our database and cancel the corresponding accounts.
					<br /><br />
					<h3>How You Can Access Or Correct Your Information</h3>
					<hr>
					You can access your personally identifiable information that we collect online and maintain by logging in and "Editing" your account. Your password is needed to edit this information, even if you are already logged in. We use this procedure to better safeguard your information.

					To protect your privacy and security, we will also take reasonable steps to verify your identity before granting access or making corrections. The main form of identity management is your e-mail address. Please always use a valid and up-to-date e-mail address.
					<br /><br />
					<h3>How To Contact Us</h3>
					<hr>
					Should you have other questions or concerns about these privacy policies, please send us e-mail at <a href="mailto:support@getderby.co">support@getderby.co</a>.
					</p>
					<br />
					<img src="http://i.imgur.com/mJLWHVZ.png" class="center-block" style="width:40px;" />
			</div>
		</div>
	</div>
</div>