<div class="container-fluid container-fill-height">
  <div class="container-content-middle">
    <form role="form" class="m-x-auto text-center app-login-form">

      <a href="/" class="app-brand m-b-lg">
        <img src="http://i.imgur.com/aRJpKUG.png" alt="brand">
      </a>

      <div class="form-group">
        <a id="facebook-button" ng-click="startLogin()" ng-disabled="!facebookReady || isSubmitting" class="fb-button">
            <span class="facebook"></span> Sign up with Facebook
          </a>
      </div>

      <hr />

      <div class="form-group">
        <input class="form-control" placeholder="First Name">
      </div>

      <div class="form-group">
        <input class="form-control" placeholder="Last Name">
      </div>

      <div class="form-group">
        <input class="form-control" placeholder="Email">
      </div>

      <div class="m-b-lg">
        <button class="btn btn-block btn-primary">Sign Up</button>
      </div>

      <footer class="screen-login">
        <%= link_to "Log in", login_path %> | 
        <%= link_to "Forgot password", forgot_path %>
      </footer>
    </form>
  </div>
</div>

