<div class="profile-header text-center"
     style="background-image: url(http://i.imgur.com/9JV12xs.png);">
  <div class="container">
    <div class="container-inner">
      <img class="img-circle media-object" src="https://fbcdn-profile-a.akamaihd.net/hprofile-ak-xpt1/v/t1.0-1/p160x160/10561836_10152504546470865_3352502633392301686_n.png?oh=153d4c56e7e62a776d99b7e8d52c767b&oe=567635B6&__gda__=1446691130_d7c00e92476d431311efd5238fd787ae">
      <h3 class="profile-header-user">Fossil Clothing</h3>
      <p class="profile-header-bio">
        American designer and manufacturer of clothing and accessories, primarily watches and jewelry.
      </p>
    </div>
  </div>

  <nav class="profile-header-nav">
    <ul class="nav nav-tabs">
      <li class="active">
        <a href="#">T-Shirts</a>
      </li>
      <li>
        <a href="#">Pants</a>
      </li>
      <li>
        <a href="#">Accessories</a>
      </li>
    </ul>
  </nav>
</div>

<div class="container m-y-md" data-grid="images">
  <div>
    <img data-width="640" data-height="400" data-action="zoom" src="http://www.empireave.com/wp-content/uploads/asphalt-yacht-club-1.jpg">
  </div>

  <div>
    <img data-width="640" data-height="640" data-action="zoom" src="http://pensieve.typepad.com/.a/6a00d8341c61d153ef0134892e4e8a970c-250wi">
  </div>

  <div>
    <img data-width="640" data-height="640" data-action="zoom" src="http://media-cache-ec0.pinimg.com/736x/d0/52/69/d05269e536a5c1487d3e0875d77dedc8.jpg">
  </div>

  <div>
    <img data-width="640" data-height="640" data-action="zoom" src="http://dramaticallycapricious.weebly.com/uploads/2/6/5/4/26545179/8273356.jpg">
  </div>

  <div>
    <img data-width="640" data-height="640" data-action="zoom" src="http://ak1.ostkcdn.com/images/products/8756415/Tanners-Avenue-Mens-Brown-Lambskin-Leather-Bomber-Jacket-P15999767L.jpg">
  </div>

  <div>
    <img data-width="640" data-height="640" data-action="zoom" src="http://www.whowhatwear.com/img/uploads/current/images/0/85/578/promo.original.300x300uc.jpg">
  </div>

  <div>
    <img data-width="640" data-height="400" data-action="zoom" src="https://s-media-cache-ak0.pinimg.com/736x/09/95/1d/09951d2b214808428ff23b45b17d1c24.jpg">
  </div>

  <div>
    <img data-width="640" data-height="640" data-action="zoom" src="http://www.themostfashionable.com/wp-content/uploads/2012/03/womens-shorts-to-relax.jpg">
  </div>

  <div>
    <img data-width="640" data-height="400" data-action="zoom" src="http://bootstrap-themes.github.io/application/assets/img/instagram_13.jpg">
  </div>

  <div>
    <img data-width="640" data-height="640" data-action="zoom" src="http://www.mybargainbuddy.com/wp/wp-content/uploads/2012/04/WomensDressClearance.jpg">
  </div>

  <div>
    <img data-width="640" data-height="640" data-action="zoom" src="http://bootstrap-themes.github.io/application/assets/img/instagram_15.jpg">
  </div>

  <div>
    <img data-width="640" data-height="640" data-action="zoom" src="http://bootstrap-themes.github.io/application/assets/img/instagram_16.jpg">
  </div>

  <div>
    <img data-width="640" data-height="640" data-action="zoom" src="http://bootstrap-themes.github.io/application/assets/img/instagram_17.jpg">
  </div>

  <div>
    <img data-width="640" data-height="640" data-action="zoom" src="http://bootstrap-themes.github.io/application/assets/img/instagram_18.jpg">
  </div>

  <div>
    <img data-width="640" data-height="400" data-action="zoom" src="http://bootstrap-themes.github.io/application/assets/img/instagram_1.jpg">
  </div>

  <div>
    <img data-width="640" data-height="640" data-action="zoom" src="http://bootstrap-themes.github.io/application/assets/img/instagram_2.jpg">
  </div>
</div>