<br />
<div class="col-lg-8 col-lg-offset-2">
	<div class="panel panel-default">
		<div class="panel-body">
			<h2 class="text-center">
				Terms & Conditions
			</h2>
			<h4 class="text-center">Thank you for using Refresh!</h4>
			<hr />

<div class="col-lg-10 col-lg-offset-1">
<p>
We are committed to providing you the best online shopping and delivery experience possible. These Terms of Service (“Terms”) govern your use of the Refresh services, including our website and mobile applications (the “Services”), and are entered into by you and COMPANY NAME (d/b/a Refresh), a Delaware corporation (“Refresh”).
<br /><br />
By using the Services, you agree to be bound by these Terms and acknowledge our Privacy Policy, which explains how we collect, use, and share information. 
<br /><br />
The Refresh Services constitute a communications platform for facilitating the connection between customers who wish to order certain products from selected retail stores, and individuals (“Style Shoppers”) seeking to assist customers by picking, packing, and delivering those products to customers. 
<br /><br />
When you use the Services to place an order for certain products, you authorize the purchase and delivery of those products to you by one or more Style Shoppers from a retailer location. You acknowledge and agree that the Style Shopper acts as your agent in carrying out the Style Shopper service. You agree that your purchase is being made with the retail store, and that title to any goods passes to you when they are purchased at the retail location. 
<br /><br />
You also acknowledge and agree that, unless expressly provided otherwise in these Terms or a separate agreement between you and Refresh, Refresh does not form any employment or agency relationship with you and does not hold title to any goods that are delivered to you by a Style Shopper. 
<br /><br />
<h3>1. Your Use of the Services</h3>
<hr />
Refresh grants you a limited, non-exclusive, non-transferable, and revocable license to use the Services for their intended purposes subject to your compliance with these Terms and our policies. You may not copy, modify, distribute, sell, or lease any part of the Services. Unless such restriction is prohibited by law or you have our written permission, you may not reverse engineer or attempt to extract the source code of the Services. You may only access the Services through the interfaces that we provide for that purpose (for example, you may not “scrape” the Services through automated means or “frame” any part of our Services), and you may not interfere or attempt to disrupt our Services. 
<br /><br />
Some parts of our Services may allow you to upload or submit content (such as text, images, video, recipes, lists, links, and other materials). You retain all rights in any content that you upload or submit, and are solely responsible for that content. You grant Refresh a non-exclusive, royalty-free, worldwide, transferable, sub-licenseable license to use, store, publicly display, publicly perform, reproduce, modify, create derivative works from, and distribute any such content for the purposes of operating, providing, and improving the Services. Refresh may, in its sole discretion, remove or take down any content that you upload or submit to the Services for any reason, including violation of these Terms or any other policies. 
<br /><br />
You may have the option of accessing the Services through downloadable software and this software may update itself automatically on your device. Some software in our Services may be governed by open source licenses. In that case, we will make such licenses available to you and, in the case of conflict between such a license and these Terms, the open source license will control but only with respect to the software to which it applies. 
<br /><br />
If you are using Refresh on behalf of a business or other entity, you represent and warrant that you have the necessary authority to bind that business or entity to these Terms and that you are agreeing to these Terms on behalf of that business or entity. 
<br /><br />
In order to use the Services, you may need to create a user account. You agree that you are responsible for all conduct and transactions that take place on or using your account and that you will take precautions to keep your password and other account information secure. 
<br /><br />
We’re constantly modifying and improving our products. We may introduce new features, change existing features, or remove features from the Services at any time and without notice. If you provide us with any feedback on or comments regarding the Services, you grant Refresh the right to use such feedback or comments for any purpose without restriction or payment to you. 
<br /><br />
<h3>2. Third-party Products and Content</h3>
<hr />
You agree that Refresh does not assume responsibility for any products, content, services, websites, advertisements, offers, or information that is provided by third parties and made available through our Services. If you purchase, use or access any such products, content, services, advertisements, offers, or information through the Services, you agree that you do so at your own risk and that Refresh will have no liability based on such purchase, use or access. 
<br /><br />
<h3>3. SERVICE PROVIDED AS-IS AND RELEASE OF CLAIMS</h3>
<hr />
THE SERVICES ARE PROVIDED "AS IS" AND "AS AVAILABLE." TO THE MAXIMUM EXTENT PERMITTED BY APPLICABLE LAW, REFRESH DISCLAIMS ALL REPRESENTATIONS AND WARRANTIES, EXPRESS, IMPLIED, OR STATUTORY, INCLUDING THE IMPLIED WARRANTIES OF MERCHANTABILITY, FITNESS FOR A PARTICULAR PURPOSE, AND NON-INFRINGEMENT. IN ADDITION, REFRESH MAKES NO REPRESENTATION, WARRANTY, OR GUARANTEE REGARDING THE RELIABILITY, TIMELINESS, QUALITY, SUITABILITY, OR AVAILABILITY OF THE SERVICES, ANY SERVICES PROVIDED BY STYLE SHOPPERS, OR GOODS REQUESTED THROUGH THE USE OF THE SERVICES FROM RETAILERS, OR THAT THE SERVICES WILL BE UNINTERRUPTED OR ERROR-FREE. REFRESH DOES NOT GUARANTEE THE QUALITY, SUITABILITY, SAFETY OR ABILITY OF STYLE SHOPPERS OR RETAILERS. YOU AGREE THAT THE ENTIRE RISK ARISING OUT OF YOUR USE OF THE SERVICES, ANY SERVICES PROVIDED BY STYLE SHOPPERS, OR ANY PRODUCTS REQUESTED BY YOU OR DELIVERED TO YOU, REMAINS SOLELY WITH YOU. 
<br />
YOU AGREE THAT NEITHER REFRESH NOR ITS AFFILIATES, RETAIL PARTNERS, LICENSORS, OR SUPPLIERS IS RESPONSIBLE FOR THE FITNESS OR CONDUCT OF ANY Style SHOPPER OR FOR ANY SERVICES PROVIDED BY STYLE SHOPPER. NEITHER REFRESH NOR ITS AFFILIATES, RETAIL PARTNERS, LICENSORS, OR SUPPLIERS WILL BE LIABLE FOR ANY CLAIM, INJURY OR DAMAGE ARISING IN CONNECTION WITH THE ACTS OR OMISSIONS OF ANY STYLE SHOPPER. 
<br />
If you have a dispute with one or more Style Shoppers, you agree to release Refresh (including our affiliates, and each of our respective officers, directors, employees, agents, shareholders, retail partners, licensors, and suppliers) from claims, demands and damages of every kind and nature, known and unknown, suspected and unsuspected, disclosed and undisclosed, arising out of or in any way connected to such disputes with Style Shoppers or to your use of the Services. 
<br />
Furthermore, you expressly waive any rights you may have under California Civil Code Section 1542 (or analogous laws of other states), which states: “A general release does not extend to claims which the creditor does not know or suspect to exist in his favor at the time of executing the release, which, if known by him must have materially affected his settlement with the debtor.” 
<br /><br />
<h3>4. LIMITATION OF LIABILITY</h3>
<hr />
IN NO EVENT SHALL REFRESH (INCLUDING OUR AFFILIATES, AND EACH OF OUR RESPECTIVE OFFICERS, DIRECTORS, EMPLOYEES, AGENTS, SHAREHOLDERS, RETAIL PARTNERS, LICENSORS, AND SUPPLIERS) BE LIABLE TO YOU FOR ANY INCIDENTAL, SPECIAL, PUNITIVE, CONSEQUENTIAL, OR INDIRECT DAMAGES (INCLUDING, BUT NOT LIMITED TO, DAMAGES FOR DELETION, CORRUPTION, LOSS OF DATA, LOSS OF PROGRAMS, FAILURE TO STORE ANY INFORMATION OR OTHER CONTENT MAINTAINED OR TRANSMITTED BY THE SERVICES, SERVICE INTERRUPTIONS, OR FOR THE COST OF PROCUREMENT OF SUBSTITUTE SERVICES) ARISING OUT OF OR IN CONNECTION WITH THE THE SERVICES, OR THESE TERMS, HOWEVER ARISING INCLUDING NEGLIGENCE, EVEN IF WE OR OUR AGENTS OR REPRESENTATIVES KNOW OR HAVE BEEN ADVISED OF THE POSSIBILITY OF SUCH DAMAGES. 
<br />
WE WILL NOT BE LIABLE FOR ANY DAMAGES, DIRECT, INDIRECT, SPECIAL, PUNITIVE, INCIDENTAL AND/OR CONSEQUENTIAL (INCLUDING, BUT NOT LIMITED TO PHYSICAL DAMAGES, BODILY INJURY, DEATH AND/OR EMOTIONAL DISTRESS AND DISCOMFORT) ARISING OUT OF YOUR USE OF THE SERVICES, ANY SERVICES PROVIDED BY STYLE SHOPPERS, OR ANY PRODUCTS REQUESTED BY YOU OR DELIVERED TO YOU, EVEN IF WE OR OUR AGENTS OR REPRESENTATIVES KNOW OR HAVE BEEN ADVISED OF THE POSSIBILITY OF SUCH DAMAGES. 
<br />
REFRESH, ITS AFFILIATES, RETAIL PARTNERS, LICENSORS, SUPPLIERS AND DISTRIBUTORS WILL NOT BE LIABLE FOR AGGREGATE LIABILITY FOR ALL CLAIMS RELATING TO THE SERVICES, ANY SERVICES PROVIDED BY STYLE SHOPPERS, OR ANY PRODUCTS REQUESTED BY YOU OR DELIVERED TO YOU FOR MORE THAN THE GREATER OF $100 OR THE AMOUNTS PAID BY YOU TO REFRESH FOR THE PAST 12 MONTHS OF THE SERVICES. 
<br />
THIS PROVISION APPLIES TO THE MAXIMUM EXTENT PERMITTED BY APPLICABLE LAW. 
<br /><br />
<h2>5. Indemnification</h2>
<hr />
You agree to defend, indemnify and hold harmless Refresh and its officers, directors, employees, agents and affiliates (each, an "Indemnified Party") from and against any losses, claims, actions, costs, damages, penalties, fines and expenses, including without limitation attorneys' and experts’ fees and expenses, that may be incurred by an Indemnified Party arising out of, relating to or resulting from your unauthorized use of the Services or from any breach by you of these Terms, including without limitation any actual or alleged violation of any law, rule or regulation. 
<br /><br />
<h3>6. Disputes & Arbitration</h3>
<hr />
If you have a dispute with Refresh, you agree to contact us first and attempt to work it out amicably. 
<br />
For residents of the United States, you agree to the following mandatory arbitration provisions: 
<br />
Mandatory Arbitration: If we’re unable to work out a solution amicably, both you and Refresh agree to final and binding arbitration as the sole method of resolving any disputes, claims, or causes of actions arising out of your use of the Services or these Terms. 
<br />
CLASS ACTION WAIVER: TO THE EXTENT PERMISSIBLE BY LAW, ALL CLAIMS MUST BE BROUGHT IN THE PARTIES' INDIVIDUAL CAPACITY, AND NOT AS A PLAINTIFF OR CLASS MEMBER IN ANY PURPORTED CLASS, COLLECTIVE ACTION, OR NON-PAGA REPRESENTATIVE PROCEEDING (COLLECTIVELY “CLASS ACTION WAIVER”). THE ARBITRATOR MAY NOT CONSOLIDATE MORE THAN ONE PERSON'S CLAIMS OR ENGAGE IN ANY CLASS ARBITRATION. YOU AGREE THAT, BY ENTERING INTO THESE TERMS, YOU AND REFRESH ARE EACH WAIVING THE RIGHT TO A TRIAL BY JURY OR TO PARTICIPATE IN A CLASS ACTION. 
<br />
In any lawsuit in which (1) the complaint is filed as a class action, collective action or non-PAGA representative action; and (2) the civil court of competent jurisdiction in which the complaint was filed finds the Class Action Waiver is unenforceable (and such finding is confirmed by appellate review if review is sought), the Class Action Waiver shall be severable from this Agreement and in such instances, the class action, collective action and/or non-PAGA representative action must be litigated in a civil court of competent jurisdiction and not as a class, collective or non-PAGA representative arbitration. 
<br />
PAGA WAIVER: TO THE EXTENT PERMISSIBLE BY LAW, THERE WILL BE NO RIGHT OR AUTHORITY FOR ANY DISPUTE TO BE BROUGHT, HEARD, OR ARBITRATED ON A GROUP BASIS OR IN ANY ACTION IN WHICH A PARTY SEEKS TO REPRESENT OTHER INDIVIDUAL(S) IN A PRIVATE ATTORNEY GENERAL ACTION (“PAGA WAIVER”). PAGA CLAIMS MAY ONLY BE ARBITRATED ON AN INDIVIDUAL BASIS. 
<br />
In any lawsuit in which (1) the complaint is filed as a private attorney general action seeking to represent any individual(s) other than the named plaintiff; and (2) the civil court of competent jurisdiction in which the complaint was filed finds the PAGA Waiver is unenforceable (and such finding is confirmed by appellate review if review is sought), the PAGA Waiver shall be severable from this Agreement and in such instances, the private attorney general action must be litigated in a civil court of competent jurisdiction and not as a private attorney general arbitration. 
<br />
Notwithstanding any other clause contained in this Agreement, any claim that all or part of the Class Action Waiver or PAGA Waiver is invalid, unenforceable, unconscionable, void or voidable may be determined only by a court of competent jurisdiction and not by an arbitrator. The Class Action Waiver and PAGA Waiver shall be severable when a dispute is filed as an individual action and severance is necessary to ensure that the individual action proceeds in arbitration. 
<br />
Opt-out of Mandatory Arbitration: You can decline this mandatory arbitration provision within 30 days of accepting these Terms by emailing us at arbitration-opt-out@refresh.com with your first and last name and stating your intent to opt-out of the arbitration provision. Note that opting out of this arbitration provision does not affect any other part of these Terms, including the provisions regarding controlling law or in which courts any disputes must be brought. 
<br />
Arbitration Procedures and Location: The arbitration shall be administered by JAMS under its Comprehensive Rules in effect at the time the arbitration demand is made. The current rules, effective July 1, 2014, can be found here: http://www.jamsadr.com/rules-comprehensive-arbitration/. JAMS arbitration rules can be found here: http://www.jamsadr.com/rules-clauses/. In the event of any conflict between the rules and this Agreement, this Agreement shall apply. The Parties agree to submit to the jurisdiction of a single neutral arbitrator selected in accordance with the JAMS Comprehensive Rules. 
<br />
The arbitration will be held in the United States county where you live or work, San Francisco, California, or any other location we mutually agree upon in writing. 
<br />
Arbitration Fees: The JAMS rules will govern payment of all arbitration fees and each party will be responsible for their own fees under those rules. However, Refresh will pay for your reasonable arbitration fees for claims: (a) where the claim for damages does not exceed $75,000, and (b) are not frivolous under Federal Rule of Civil Procedure 11(b). Refresh will not seek attorneys' fees or costs in arbitration unless the arbitrator determines the claims are frivolous under Federal Rule of Civil Procedure 11(b). 
<br />
Exceptions to Mandatory Arbitration: Either party may bring a lawsuit solely for injunctive relief to stop unauthorized use or abuse of the Services, or intellectual property infringement (for example, trademark, trade secret, copyright, or patent rights) without first engaging in arbitration or the informal dispute-resolution process described above. For such claims, both parties agree to the exclusive jurisdiction of the state and federal courts in San Francisco County, California. 
<br /><br />
<h3>7. Termination</h3>
<hr />
You can stop using the Services at any time and without notice to us. Similarly, we may terminate access to the Services to you or any other users or stop offering the Service at any time without notice. In the event of Termination, Section 1 and Sections 4-14 survive and continue to apply to you. 
<br /><br />
<h3>8. Controlling Law</h3>
<hr />
These Terms will be governed by the laws of the State of California, without respect to its conflicts of laws principles. Any claims arising out of or relating to these Terms or use of the Services that are not subject to Section 7 (Disputes & Arbitration) of these Terms shall be brought exclusively in the federal or state courts of San Francisco County, California, USA, and you and Refresh consent to the Style jurisdiction of those courts. 
<br /><br />
<h3>9. Entire Agreement & Severability</h3>
<hr />
These Terms, subject to any amendments, modifications, or additional agreements you enter into with Refresh, shall constitute the entire agreement between you and Refresh with respect to the Services and any use of the Services. If any provision of these Terms is found to be invalid by a court competent jurisdiction, that provision only will be limited to the minimum extent necessary and the remaining provisions will remain in full force and effect. 
<br /><br />
<h3>10. No Waiver</h3>
<hr />
Refresh’s failure to monitor or enforce a provision of these Terms does not constitute a waiver of its right to do so in the future with respect to that provision, any other provision, or these Terms as a whole. 
<br /><br />
<h3>11. Assignment</h3>
<hr />
You may not assign any of your rights, licenses, or obligations under these Terms. Any such attempt at assignment by you shall be void. Refresh may assign its rights, licenses, and obligations under these Terms without limitation. 
<br /><br />
<h3>12. Changes to the Terms</h3>
<hr />
We may make changes to these Terms from time to time. When we do so, we will post the most current version of the Terms on our website. By continuing to use or access the Services after the revised Terms come into effect, you agree to be bound by the revised Terms. At our discretion as to whether a revision to the Terms is material, we may notify you about a revision of the Terms in some way (for example, by email or a posting on our website). 
<br /><br />
<h3>13. Copyright Policy</h3>
<hr />
Refresh respects the intellectual property rights of others and has implemented a copyright policy in accordance with the Digital Millennium Copyright Act and other relevant laws. Refresh will respond to valid notices of copyright infringement and reserves the right to terminate any users, at our sole discretion and without notice, who repeatedly infringe copyrights or other intellectual property rights of others. 
<br />
If you believe any content posted or made available on the Refresh Services constitutes infringement of your copyright rights, you may send a written notice of infringement to Refresh’s designated Copyright Agent using the contact information listed below. In your notice, please specify the nature of the copyright infringement and include the following information: (a) an electronic or physical signature of the owner of the copyright in question or a person authorized to act on behalf of the owner of the copyright; (b) a description of the claimed infringing material as well as identification of the claimed infringing material, including the location of such material on the Refresh Services (e.g., the URL of the claimed infringing material if applicable or other means by which we may locate the material); (c) complete contact information, including the name of the owner of the copyright and your name, title, address, telephone number, and email address; (d) a statement that you have a good faith belief that the disputed use is not authorized by the copyright owner, its agent, or the law; and (e) a statement, made under penalty of perjury, that the information provided in your notice is accurate and that you are the copyright owner or authorized to act on behalf of the owner. 
<br /><br />
Refresh<br />
ATTN: Copyright Agent<br />
123 Luckie Street #1507<br />
Atlanta, GA 30303<br />
<a href="mailto:info@refresh.com">info@refresh.com</a><br />
</p>
</div>


		</div>
	</div>
</div>