<div class="rails-admin js-colors">
  <a href="javascript:void(0)" class="js-add-color">Add color</a>
  <span class="help-block">
    Configure the cloth variants that will be created.<br/>
    Sizes are separated by commas. Please use the following format:<br/>
    Color: red Sizes: S, M, L
  </span>
</div>
