/* store page makeup */
.container[data-grid="rowGrid"] {
  .item {
    position: relative;
    color: #FFF;
    margin-bottom: 10px;

    a {
      color: #FFF;
    }

    h3 {
      position: absolute;
      top: 47%;
      text-align: center;
      width: 100%;
      padding: 0;
      margin: 0;
      text-shadow: 0 0 2px rgba(0, 0, 0, 0.6);
    }

    .available-for-delivery {
      position: absolute;
      bottom: 2%;
      right: 2%;
      font-size: 2em;
    }
    .heart-this {
      position: absolute;
      top: 2%;
      left: 2%;
      font-size: 1.5em;
    }
    .heart-this:hover {
      color:#00bf8f;
    }
  }


  /* clearfix */
  &:before, &:after {
    content: "";
    display: table;
  }

  &:after {
    clear: both;
  }

  .item {
    float: left;
    margin-bottom: 10px;

    &:before {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      height: 100%;
      width: 100%;
      opacity: 0.3;
      background-color: #666;
      background-size: 100% 100%;
      pointer-events: none;
    }
  }
  .item:hover {
    background-color:transparent;
  }
  .item img {
    max-width: 100%;
    max-height: 100%;
    height: 300px;
    vertical-align: bottom;
  }
  .first-item {
    clear: both;
  }
  /* remove margin bottom on last row */
  .last-row, .last-row ~ .item {
    margin-bottom: 0;
  }
}

/* end store page makeup */


/* docs overrides */
.highlight {
  background-color: #fff;
  border-color: #d3e0e9;
}


/* general overrides */
.list-group-item .glyphicon {
  line-height: 1.4;
}
.modal-header .close {
  margin-top: 4px;
}


/* navbar */
.app-navbar {
  font-weight: 400;
  -webkit-font-smoothing: antialiased;
}
.app-navbar .form-control {
  box-shadow: none;
}
.app-navbar .navbar-brand img {
  width: 85px;
}
.app-navbar .navbar-collapse {
  max-height: inherit;
}
.app-navbar .navbar-collapse:after {
  height: 100vh;
}
.app-navbar .form-control {
  border-color: #d4dbe0;
}
.app-notifications {
  margin-left: -12px;
  padding-bottom: 10px !important;
}
.app-notifications .icon:before {
  font-size: 20px;
}
@media (min-width: 768px) {
  .app-navbar .navbar-collapse:after {
    height: auto;
  }
}
@media (max-width: 768px) {
  .app-search {
    margin-top: -1px;
  }
}


/* misc */
.app-login-form {
  max-width: 280px;
  margin-top: -60px;
}
.app-new-msg {
  margin-right: 10px;
}
.app-brand {
  width: 40%;
  display: inline-block;
}
.app-brand img {
  width: 100%;
}
.landing-search {
  border-bottom-left-radius: 4px !important;
  border-top-left-radius: 4px !important;
  border-bottom-right-radius: 0px !important;
  border-top-right-radius: 0px !important;
  border: 1px solid #00bf8f !important;
  height:60px !important;
  font-size:23px !important;
}
.landing-button {
  height:60px !important;
  width:80px !important;
}
.landing-login {
  position:absolute;
  top:10px;
  right:80px;
  color:#fff;
  font-size: 25px;
}
.landing-logo {
  position:absolute;
  width:36px;
  height:40px;
  left:80px;
  top:10px;
}

textarea:focus,
input[type="text"]:focus,
input[type="password"]:focus,
input[type="datetime"]:focus,
input[type="datetime-local"]:focus,
input[type="date"]:focus,
input[type="month"]:focus,
input[type="time"]:focus,
input[type="week"]:focus,
input[type="number"]:focus,
input[type="email"]:focus,
input[type="url"]:focus,
input[type="search"]:focus,
input[type="tel"]:focus,
input[type="color"]:focus,
.uneditable-input:focus {   
  border-color: #00bf8f;
  outline: 0 none;
}

.spin:hover
{
    cursor: default;
    transform: rotate(90deg);
    transition: all 0.9s ease-in-out 0s;
}

@media (min-width: 480px) {
  .home-header {
    height: 400px;
  }
}
@media (min-width: 768px) {
  .home-header {
    height:650px;
  }
}

.home-header {
  color: #fff !important;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  border-shadow:1px grey solid;
  background-image: url('http://i.imgur.com/RZua092.jpg') !important;
  h1 {
    font-size: 80px !important;
    text-shadow: 0 0 2px rgba(0,0,0,0.6);
    opacity:1;
  }
  h2 {
    font-size: 50px !important;
    text-shadow: 0 0 2px rgba(0,0,0,0.6);
  }
  h3 {
    text-shadow: 0 0 2px rgba(0,0,0,0.6);
  }
}
.numeral {
    display: inline-block;
    width: 60px;
    height: 60px;
    text-align: center;
    padding-top: 10px;
    color: white;
    font-size: 40px;
    line-height: 43px;
    background-color: #333;
    border-radius: 40px;
    margin-bottom: 20px;
}
