/* store page makeup */
.js-image-grid {
  .item {
    position: relative;
    color: #FFF;

    a {
      color: #FFF;
    }

    img {
      vertical-align:bottom;
    }

    h3 {
      font-family: 'Droid Sans', sans-serif;
      position: absolute;
      top: 45%;
      text-align: center;
      width: 100%;
      padding: 0;
      margin: 0;
      text-shadow: 0 0 2px rgba(0, 0, 0, 0.6);
    }
    h4 {
      position: absolute;
      color: #fff;
      top: 2%;
      right: 2%;
      text-align: right;
      width: 100%;
      padding: 0;
      margin: 0;
      text-shadow: 0 0 2px rgba(0, 0, 0, 0.6);
    }

    .available-for-delivery {
      position: absolute;
      bottom: 2%;
      right: 2%;
      font-size: 2em;
    }
    .heart-this {
      position: absolute;
      top: 2%;
      left: 2%;
      font-size: 1.5em;
    }
    .heart-this:hover {
      color:#00bf8f;
    }
  }
}

/* end store page makeup */


/* docs overrides */
.highlight {
  background-color: #fff;
  border-color: #d3e0e9;
}


/* general overrides */
.list-group-item .glyphicon {
  line-height: 1.4;
}
.modal-header .close {
  margin-top: 4px;
}


/* navbar */
.app-navbar {
  font-weight: 400;
  -webkit-font-smoothing: antialiased;
}
.app-navbar .form-control {
  box-shadow: none;
}
.app-navbar .navbar-brand img {
  width: 85px;

}
.app-navbar .navbar-collapse {
  max-height: inherit;
}
.app-navbar .navbar-collapse:after {
  /*height: 100vh;*/  /* what is this */
}
.app-navbar .form-control {
  border-color: #d4dbe0;
}
.app-notifications {
  margin-left: -12px;
  padding-bottom: 10px !important;
}
.app-notifications .icon:before {
  font-size: 20px;
}
@media (min-width: 768px) {
  .app-navbar .navbar-collapse:after {
    height: auto;
  }
}
@media (max-width: 768px) {
  .app-search {
    margin-top: -1px;
  }
}


/* misc */
.app-login-form {
  max-width: 380px;
  margin-top: -60px;
  background-color: #fff;
  padding: 40px;
  border-radius:3px;
}
.app-new-msg {
  margin-right: 10px;
}
.app-brand {
  width: 25%;
  display: inline-block;
}
.app-brand img {
  width: 100%;
}
.landing-search {
  border-bottom-left-radius: 4px !important;
  border-top-left-radius: 4px !important;
  border-bottom-right-radius: 0px !important;
  border-top-right-radius: 0px !important;
  border: 1px solid #00bf8f !important;
  height:60px !important;
  font-size:23px !important;
  background-color: rgba(255,255,255, .9) !important;
}
.landing-button {
  height:60px !important;
  width:80px !important;
  background: #00bf8f !important;
  border-color: #00bf8f !important;
}
.landing-login {
  position:absolute;
  top:10px;
  right:80px;
  color:#fff;
  font-size: 20px;
}
.landing-login:hover {
  color:#fff;
}
.landing-logo {
  position:absolute;
  width:40px;
  height:40px;
  left:80px;
  top:10px;
}

@media (max-width: 480px) {
  .landing-search {
    border-bottom-left-radius: 4px !important;
    border-top-left-radius: 4px !important;
    border-bottom-right-radius: 0px !important;
    border-top-right-radius: 0px !important;
    border: 1px solid #00bf8f !important;
    height:45px !important;
    font-size:23px !important;
  }
  .landing-button {
    height:45px !important;
    width:60px !important;
  }
  .landing-login {
    position:absolute;
    top:10px;
    right:20px;
    color:#fff;
    font-size: 17px;
    text-decoration:underline;
  }
  .landing-logo {
    position:absolute;
    width:40px;
    height:40px;
    left:20px;
    top:10px;
  }
}
@media (min-width: 768px) {
  .landing-login {
    position:absolute;
    top:12px;
    right:80px;
    color:#fff;
    font-size: 17px;
  }
  .landing-logo {
    position:absolute;
    width:40px;
    height:40px;
    left:80px;
    top:10px;
  }
}

textarea:focus,
input[type="text"]:focus,
input[type="password"]:focus,
input[type="datetime"]:focus,
input[type="datetime-local"]:focus,
input[type="date"]:focus,
input[type="month"]:focus,
input[type="time"]:focus,
input[type="week"]:focus,
input[type="number"]:focus,
input[type="email"]:focus,
input[type="url"]:focus,
input[type="search"]:focus,
input[type="tel"]:focus,
input[type="color"]:focus,
.uneditable-input:focus {   
  border-color: #00bf8f;
  outline: 0 none;
}

@media only screen and (min-width : 320px) {
  .home-header {
    height: 600px;
  }
}
@media (min-width: 768px) {
  .home-header {
    height:750px;
  }
}

.home-header {
  color: #fff !important;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  border-shadow:1px grey solid;
  background-image: url('http://i.imgur.com/RZua092.jpg') !important;
  h1 {
    font-size: 80px !important;
    text-shadow: 0 0 2px rgba(0,0,0,0.6);
    opacity:1;
  }
  h2 {
    font-size: 50px !important;
    text-shadow: 0 0 2px rgba(0,0,0,0.6);
  }
  h3 {
    text-shadow: 0 0 2px rgba(0,0,0,0.6);
  }
}

@media only screen and (min-width : 320px) {
  .partner-header {
    height: 400px;
  }
}
@media (min-width: 768px) {
  .partner-header {
    height:650px;
  }
}

.partner-header {
  color: #fff !important;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  border-shadow:1px grey solid;
  background-image: url('http://i.imgur.com/y7ZJlX2.jpg') !important;
  h1 {
    font-size: 60px !important;
    text-shadow: 0 0 2px rgba(0,0,0,0.6);
    opacity:1;
  }
  h2 {
    font-size: 30px !important;
    text-shadow: 0 0 2px rgba(0,0,0,0.6);
  }
  h3 {
    text-shadow: 0 0 2px rgba(0,0,0,0.6);
    font-size: 20px !important;
  }
}


.numeral {
    display: inline-block;
    width: 60px;
    height: 60px;
    text-align: center;
    padding-top: 10px;
    color: white;
    font-size: 40px;
    line-height: 43px;
    background-color: #333;
    border-radius: 40px;
    margin-bottom: 20px;
}
.footer {
  height:50px;
}
.footer-text {
  padding-top:12px;
}
.footer-link {
  padding:10px;
}
.fb-button {
    display: block;
    width: 100%;
    height: 50px;
    padding: 15px;
    background-color: #4660a4;
    text-align: center;
    font-family: 'Droid Sans', sans-serif;
    font-weight: 600;
    font-style: normal;
    font-size: 14px;
    line-height: 20px;
    text-transform: uppercase;
    letter-spacing: 2px;
    color: #fff;
    cursor: pointer;
    border-radius: 4px;
}
.fb-button:hover {
  color: #fff;
  text-decoration: none;
  background: #3f5693;
}
.facebook {
    margin-right: 10px;
    position: relative;
    top: -1px;
    display: inline-block;
    width: 10px;
    height: 20px;
    line-height: 20px;
    vertical-align: middle;
    background-image: url("http://i.imgur.com/YKTsYzt.png");
    background-repeat: no-repeat;
    background-size: 10px 20px;
}

h4.panel-title {
  font-size:18px;
}

.banner {
    padding: 100px 0;
    color: #f8f8f8;
    background: url(http://i.imgur.com/SSOCACJ.png) no-repeat center center;
    background-size: cover;
}
.content-section-a {
    padding: 50px 0;
}

/* scrollable for Secondary Nav */
#nav-wrapper {
  z-index: 2;
}
#nav-wrapper.affix {
    position: fixed;
    top: 50px;
    width: 100%
}

@media (max-width: 767px) {
     #nav-wrapper {
        /*position: relative;*/
        width: 100%;
        overflow: hidden;
        height: 3.55557em;
        text-align: left;
    }
    #nav-wrapper .navbar:before, #nav-wrapper .navbar:after {
      display: none !important;
    }

    #nav-wrapper .container-fluid:before, #nav-wrapper .container-fluid:after {
      display: none !important;
    }

    #nav-wrapper .container-fluid {
        width: 102%;
        white-space: nowrap;
        overflow: scroll;
        -webkit-overflow-scrolling: touch;
        display: inline-block;
    }

    #nav-wrapper .nav:before, #nav-wrapper .nav:after {
      display: none !important;
    }

    #nav-wrapper .navbar-nav {
        min-width:100%;
        padding: 0 !important;
        margin: 0 !important;
        height: 3.55557em !important;
    }

    #nav-wrapper .nav > li  {
      float: none !important;
      display: inline-block !important;
    }

    #nav-wrapper a { font-size:14px !important; }
    
    #nav-wrapper .nav > li > a {}

    /* expand dropdown */
    #nav-wrapper .dropdown {
        padding: 0 !important; margin: 0 !important;
        position: relative;
    }

    #nav-wrapper a.dropdown-toggle {
        display: none!important;
    }
    #nav-wrapper ul.dropdown-menu {
      display: inline;
      border: none;
      background-color: transparent !important;
      box-shadow: none !important;
      top: -20px !important;
      padding: 0!important;
      margin: 0!important;
    }
    #nav-wrapper ul.dropdown-menu li {
      display: inline-block;
      padding: 0 !important;
      margin: 0!important;
    }
     #nav-wrapper ul.dropdown-menu a{
      color: #f0f0f0 !important;
     }
     #nav-wrapper ul.dropdown-menu a:hover {
      background-color: transparent!important;
      color:#fff !important;
     }
}
/* END scrollable for Secondary Nav*/

/* center logo on small screen */
@media (max-width: 767px) {
  .navbar-header {
      text-align: center;
      position: relative
  }
  .navbar-brand {
     float: none !important;
     /*width: 45px;*/
     display: inline-block;
     /*padding-top: 16px;*/
  }
  .navbar-brand img {
    margin-top: 1px !important;
  }
  .navbar-toggle {
      margin-right: 0 !important;
      right: 15px !important;
      position: absolute!important
  }
  h3 {
    font-size: 17px !important;
    margin-top:10px !important
  }
  body {
    font-size: 12px !important
  }
}
/* END center logo on small screen */
.navbar-inverse {
  border-radius: 0px !important;
}

/* Remove Item from Cart */
.remove-item {
  font-size: 20px;
  font-weight: bold;
  line-height: 18px;
  color: #000000;
  text-shadow: 0 1px 0 #ffffff;
  opacity: 0.2;
  filter: alpha(opacity=20);
  text-decoration: none;
}
.remove-item:hover {
  color: #000000;
  text-decoration: none;
  opacity: 0.4;
  filter: alpha(opacity=40);
  cursor: pointer;
}

/* Homepage Info Boxes */
.info-box {
  padding-top: 30px !important;
  padding-bottom: 30px !important;
}

/* Green Label on Cart in Header*/
.cart-label {
  width: 15px;
  height: 15px;
  font-size: 10px;
  line-height: 15px;
  padding: 0;
  text-align: center;
  position: absolute;
  background: #00bf8f;
  top: 8px;
  right: 8px;
  border-radius: 50%;
  color: #fff;
}

.back-to-city {
  position: absolute;
  top: 10%;
  left:2%;
  color:#666;
}