<% flash.each do |key, message| %>
  <% if key.to_s == 'success' %>
    <div class="<%= alert_class_for key %> alert side-alert autoclose fade in" role="alert">
      <%= message %>
    </div>
  <% else %>
    <div class="<%= alert_class_for key %> alert side-alert alert-dismissible fade in" role="alert">
      <button type="button" class="close" data-dismiss="alert" aria-label="Close">
        <span aria-hidden="true">&times;</span>
      </button>

      <%= message %>
    </div>
  <% end %>
<% end %>
