<div class="footer">
  <p class="text-center footer-text">
		<span class="footer-link">
			Help
		</span>
		<span class="footer-link">
			About
		</span>
		<span class="footer-link">
			Contact
		</span>
  </p>
</div>