<div class="collapse" id="how-it-works">
  <section class="how-it-works how-it-works--overlay js-how-it-works how-it-works--with-images" aria-hidden="false" style="top: 0px;" tabindex="-1">
      <a href="#how-it-works" role="button" id="how-works" data-toggle="collapse" aria-expanded="false" class="how-it-works__close panel-close js-close-how-it-works">
        <span class="screen-reader-only">
          Close How It Works
        </span>
        ×
      </a>


    <div class="page-container-responsive panel-contrast text-contrast">
      <h2 class="sr-only">
        How It Works
      </h2>
      <div class="row space-top-8 text-center">
        <div class="how-it-works__step how-it-works__step-one col-md-4">
          <div class="panel-body">
            <div class="how-it-works__image"></div>
            <h3>
              Discover Amazing Places
            </h3>
            <p>
              Find hosts with extra rooms, entire homes, and unique accommodations like castles and igloos.
            </p>
          </div>
        </div>

        <div class="how-it-works__step how-it-works__step-two col-md-4">
          <div class="panel-body">
            <div class="how-it-works__image"></div>
            <h3>
              Book a Stay
            </h3>
            <p>
              Connect with hosts, confirm travel dates, and pay—all through Airbnb’s trusted services.
            </p>
          </div>
        </div>

        <div class="how-it-works__step how-it-works__step-three col-md-4">
          <div class="panel-body">
            <div class="how-it-works__image"></div>
            <h3>
              Travel
            </h3>
            <p>
              Feel at home, anywhere you go in the world. <a href="/help/getting-started/how-to-travel">Learn more</a> about how to travel on Airbnb.
            </p>
          </div>
        </div>

      </div>

      <div class="row space-top-4 space-4 text-center">
        <p><a href="/help/getting-started/how-to-host">Learn more</a> about hosting on Airbnb and show your guests they’re right where they belong.
        </p>
      </div>

    </div>
  </section>
</div>