<div class="collapse" id="how-it-works">
  <br /><br />
  <section class="how-it-works how-it-works--overlay js-how-it-works how-it-works--with-images" aria-hidden="false" style="top: 0px;" tabindex="-1">
    <div class="col-md-11">
       <a href="#how-it-works" class="close-how" role="button" id="how-works" data-toggle="collapse"><em class="close-button-icon-white"></em></a>
    </div>
    <br /><br />
    <div class="page-container-responsive panel-contrast text-contrast col-md-10 col-md-offset-1">
      <h2 class="sr-only">
        How It Works
      </h2>
      <div class="row space-top-8 text-center">
        <div class="how-it-works__step how-it-works__step-one col-md-4">
          <div class="panel-body">
           <i class="fa fa-5x fa-desktop"></i>
            <h3>
              Order catering online
            </h3>
            <p>
              Choose from our daily selection of delicious meals from your favorite restaurants.
            </p>
          </div>
        </div>

        <div class="how-it-works__step how-it-works__step-two col-md-4">
          <div class="panel-body">
           <i class="fa fa-5x fa-calendar-check-o"></i>
            <h3>
              Schedule the delivery
            </h3>
            <p>
              Derby allows you to get same-day catering, or schedule a week in advance!
            </p>
          </div>
        </div>

        <div class="how-it-works__step how-it-works__step-three col-md-4">
          <div class="panel-body">
            <i class="fa fa-5x fa-building-o"></i>
            <h3>
              Get it delivered to the office
            </h3>
            <p>
              Straight from the restaurant to your desk so your lunch is always fresh.
            </p>
          </div>
        </div>
      </div>
    </div>
  </section>
  <div class="clearfix"></div>
  <br /><br /><br />
</div>