<div class="modal fade" id="loginModal" tabindex="-1" role="dialog" aria-labelledby="loginModal" aria-hidden="true">
  <div class="modal-dialog modal-sm">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <em class="close-button-icon"></em>
        </button>
      </div>
      <div class="modal-body p-a-0 js-modalBody">
        <%= render 'devise/sessions/new_form' %>
      </div>
    </div>
  </div>
</div>
